/* DocDB CSS - Minimal W3CSS overrides
   Most styling is now handled by W3CSS framework.
   Only ID-based styling and functional classes are preserved here.
*/

/* ID-based styling - preserved for compatibility */
#RevisionInfo {
  position: relative;
  width: 100%;
}

#HeaderMessages {
  width: 100%;
}

#LeftColumn3Col {
  /* W3CSS sidebar styling will be applied via classes in HTML */
}

#MainColumn3Col {
  /* W3CSS main content styling will be applied via classes in HTML */
}

#RightColumn3Col {
  /* W3CSS sidebar styling will be applied via classes in HTML */
}

#UpdateButtons {
  text-align: center;
}

#DocNotifySignup input[type="submit"], #UpdateButtons input[type="submit"] {
  font-size: 90%;
}

#Signoffs ul ul {
  padding-left: 1em;
}

#OtherVersionTable {
  width: 100%;
}

#SubmitCell {
  text-align: center;
}

/* Functional classes - preserved for functionality */
.SectionHeading {
  text-align: left;
}

.LeftHeader {
  text-align: right;
}

.LeftHeader th {
  vertical-align: top;
  text-align: right;
}

.LeftHeader td {
  text-align: left;
}

.Highlight {
  color: blue;
}

.Error, .Warning {
  color: red;
}

.Help {
  color: red;
}

a.Help[href], span.Help {
        color: #444;
        text-decoration: none;
	background-image: url('help.png');
  background-repeat: no-repeat;
	background-position: right center;
	padding-right: 22px;
}

td.Updated {
  text-align: right;
  white-space: nowrap;
}

td.Time {
  text-align: right;
}

.SubmitCell, td.SubmitCell, th.SubmitCell {
  text-align: center;
}

tr.Unconfirmed, tbody.Unconfirmed {
  font-style: italic;
}

/* File list specific styling */
dd.FileList {
  padding-top: 0.5em;
  padding-left: 0em;
  margin-left: 0em;
}

/* Icon styling */
img.icon {
  vertical-align: bottom;
  padding: 2px;
}

a img {
  border: none;
}

/* Compact list styling */
ul.compact {
  padding-left: 0em;
  margin-left: 0em;
}

ul.compact li {
  padding-left: 0em;
  margin-left: 0.75em;
  list-style-type: none;
}

/* Embedded session table */
.EmbedSession table {
  margin-left: 1em;
  margin-bottom: 1em;
}

/* File entry table styling */
.FileEntry td {
  padding: 3px 5px 3px 5px;
}

.FileEntry th {
  padding: 5px 5px 5px 5px;
}

/*  Stuff from mktree - preserved for tree functionality */
@media screen, print {
        /* Turn off list bullets */
  ul.mktree li { list-style: none; }
        /* Control how "spaced out" the tree is */
  ul.mktree, ul.mktree ul, ul.mktree li { margin-left: 10px; padding: 0px; }
        /* Provide space for our own "bullet" inside the LI */
  ul.mktree li .bullet { padding-left: 15px; }
        /* Show "bullets" in the links, depending on the class of the LI that the link's in */
  ul.mktree li.liOpen .bullet { 
    cursor: pointer; 
    background: url(minus.gif) center left no-repeat; 
  }
  ul.mktree li.liClosed .bullet { 
    cursor: pointer; 
    background: url(plus.gif) center left no-repeat; 
  }
  ul.mktree li.liBullet .bullet { 
    cursor: default; 
    background: url(bullet.gif) center left no-repeat; 
  }
        /* Sublists are visible or not based on class of parent LI */
  ul.mktree li.liOpen ul { display: block; }
  ul.mktree li.liClosed ul { display: none; }
}

/*  Stuff from jquery autocomplete - preserved for autocomplete functionality */
.ac_results {
        padding: 0px;
        border: 1px solid black;
        background-color: white;
        overflow: hidden;
        z-index: 99999;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        font: menu;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
}

.ac_loading {
        background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
        background-color: #eee;
}

.ac_over {
        background-color: #0A246A;
        color: white;
}

input.hidden {
    visibility: hidden;
    display: none;
}
